.notes-list-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-height: 300px;
  height: 100%;
}

.notes-list-card {
  background-color: #00adb5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}

.notes-list-card:hover {
  background-color: #018991;
}

.notes-list-card > h3 {
  text-align: center;
}

.datetime {
  color: #055357;
}
